.nav {
    grid-area: nav;
    background-color: peru;
    padding: 50px;
}
.item {
    padding: 5px 0;
}
.item a {
    color: white;
    text-decoration: none;
}
.item a.activeLink {
    color: gold;
}