.discriptionInfo {
    padding: 10px;
    font-weight: 800;
}
.img{
    width: 400px;
    animation: haunted 3s infinite;
}

@keyframes haunted {
    0% {
      filter: brightness(20%);
    }
    48% {
      filter: brightness(20%);
    }
    50% {
      filter: sepia(1) contrast(2) brightness(200%);
    }
    60% {
        -webkit-filter: sepia(1) contrast(2) brightness(200%);
        filter: sepia(1) contrast(2) brightness(200%);
    }
    62% {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    96% {
      filter: brightness(400%);
    }
  }

.info_border {
    border: 8px outset black; /* Параметры границы */
    background: #fc3; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
}